button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 182px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2342c0;
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.button_secondary {
  background-color: var(--purple);
}

.button_secondary:hover {
  background-color: #5028c6;
}

.button_alternate {
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
  background-color: #fff;
}

.button_alternate:hover {
  background-color: #fff;
  border: 1px solid var(--black);
  color: var(--grey-4);
}
